* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "pragmatica", sans-serif;
	overflow-x: hidden;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.toplogo {
	width: 100px;
	height: auto;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

.herobillede {
	width: 100%;
}

.hero {
	padding: 0;
	margin: 0;
	position: relative;
}

.hero .slogan {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%,-50%);
	cursor: pointer;
	padding: 12px 24px;
}

.hero .cc {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%,-50%);
	cursor: pointer;
	padding: 12px 24px;
}

.hero .begivenhed {
	position: absolute;
	top: 66%;
	left: 25%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%,-50%);
	cursor: pointer;
	padding: 12px 24px;
}

.hero .btn {
	position: absolute;
	top: 70%;
	left: 19.5%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%,-50%);
	cursor: pointer;
	padding: 12px 24px;
	text-decoration: underline;
}

/*.fa-basket-shopping, .fa-bars  {
	margin: 0 20px 0 20px;
}*/

.fa-brands {
	margin: 0 5px 0 5px;
	color: white;
}

.slogan {
	font-weight: 700;
}

.shop {
	margin-top: 20px;
}

.topmenu {
	text-decoration: none;
	color: white;
}

.copy {
	margin-bottom: 15px;
	margin-top: 15px;
	color: black;
}

a.bundmenu:hover, a.topmenu:hover, a.fa-brands:hover, a.copy:hover{
	color: #f18805;
	text-decoration: none;
}

.fejl-chokoladeboks {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.CTA-error {
	font-size: 25px;
	font-weight: 700;
	color: black;
}

.footerCat {
	color: white;
}

.footerLinks {
	text-decoration: none;
	color: white;
}