* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "pragmatica", sans-serif;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

footer {
	text-decoration: none;
}

a:link {
	color: white;
}

.toplogo {
	height: 70px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

.hero {
	padding: 0;
	margin: 0;
	position: relative;
}

.hero .slogan {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%,-50%);
	cursor: pointer;
	padding: 12px 24px;
}

.hero .cc {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%,-50%);
	cursor: pointer;
	padding: 12px 24px;
}

.hero .begivenhed {
	position: absolute;
	top: 66%;
	left: 15%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%,-50%);
	cursor: pointer;
	padding: 12px 24px;
}

.hero .btn {
	position: absolute;
	top: 70%;
	left: 15%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%,-50%);
	cursor: pointer;
	padding: 12px 24px;
	text-decoration: underline;
}

.fa-brands {
	padding: 50px;
}

.slogan {
	font-size: 2vw;
	font-weight: 700;
}

.cc {
	font-size: 1.5vw;
}

.begivenhed {
	font-size: 3vw;
}